body {
  font-family: helvetica;
  color: #07001f;
}
ul {
    font-family: helvetica;
}
li {
    list-style: circle;
  } 
.list {
  list-style: square;
} 

.mode-btn {
  position: absolute;
  top: 20px;
  left: 530px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;

  padding: 0px;
}
.btn:focus { outline-style: none; }

.light-theme {
  /* background: #6594ff; */
  color: #07001f;
  background-image: linear-gradient(to right, rgb(18, 136, 246), rgb(58, 58, 58));
}
/* any element with the class btn within the class light-theme will use this */
.light-theme .btn{
  background: #07001f;
  color: antiquewhite;
}
.dark-theme {
  /* background: #07001f; */
  color: antiquewhite;
  background-image: linear-gradient(to right,#07001f, rgb(58, 58, 58)); 
}
.dark-theme .btn{
  background: rgb(18, 136, 246);
  color:#07001f;
}
.dark-theme .report{
  background:#0e0e10;
  color: antiquewhite;
  border-color: antiquewhite;
}
.report-days{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #07001f;
}
.report{
  border: solid 2px #07001f;
  padding: 15px;
  margin: 5px 5px;
  border-radius: 5px;
  background-color: antiquewhite;
  width: fit-content;
}
.report .day{
  font-size: 30px;
}   