body* {
  /* color: var(--fontColor); */
  font-family: helvetica;
  color: #07001f;
}
body {
    background: var(--bg);
}
ul {
    font-family: helvetica;
}
li {
    list-style: circle;
  } 
  .list {
    list-style: square;
  } 

  /* .light-theme {
    --bg: var(--blue);
    --fontColor: var(--black);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--blue);
  }
  .light-theme {
    color: #0f0041;
    background: #6594ff;
  } */

  .mode-btn {
    position: absolute;
    top: 20px;
    left: 530px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    /* color: var(--btnFontColor);
    background-color: var(--btnBg); */
    padding: 0px;
  }
  .btn:focus { outline-style: none; }
  
  .light-theme {
    background: #6594ff;
    color: #07001f;
  }
  /* any element with the class btn within the class light-theme will use this */
  .light-theme .btn{
    background: #07001f;
    color: antiquewhite;
  }
  .dark-theme {
    background: #07001f;
    color: antiquewhite;
  }
  .dark-theme .btn{
    background: #6594ff;
    color:#07001f;
  }